{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block metaSEO %}
<meta name="description" content="Galleria zdjęć wykonanych podczas tworzenia modeli statków w shipmodels.pl" />
{% endblock metaSEO %}
{% block title %}{% translate "Galeria" %}{% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
{% endblock extracss %}
{% block content %}
<h1 class="section__h1">{% translate "Galeria" %}</h1>
<h3>{% translate "Poniżej przedstawiamy nasze dostępne modele." %}</h3>
<section class="gallery">
    <div class="gallery__container">
        {% for gallery in galleries %}
        <!-- Item 1 -->
        <a href="{{ gallery.get_absolute_url }}" class="gallery__card">
            <div class="card__overlay">
                <img src="{{ gallery.główne_zdjęcie.obraz.url }}" alt="{{ gallery.tytuł }}" class="gallery__img" />
            </div>
            <div class="card__title">{{ gallery.slug }}</div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock content %}
