{% extends 'base.html' %}
{% load static %}
{% block metaSEO %}
<meta name="description" content="Galeria zdjęć prac nad {{ gallery.tytuł }}" />
{% endblock metaSEO %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
{% endblock extracss %}


{% block title %}{{ gallery.tytuł }}{% endblock title %}

{{ gallery.obraz }}

<h1>{{ img.tytuł }}</h1>
<img src="{{ img.obraz.url }}" alt="">
<a href="{{ img.get_absolute_url }}">LINK do OBRAZU</a>
<p>{{ img.dodał }}</p>
<p>{{ img.dodano }}</p>




{% block content %}
<!-- STARTS HERE  -->
<h2 class="section__h2">Nazwa Modelu</h2>
<section>
    <!-- Zdjecie głowne i dane techniczne  -->
    <div class="technical__container">
        <img src="{{ gallery.główne_zdjęcie.obraz.url }}" alt="Zdjęcie główne {{ gallery.tytuł}}" class="about__img" />
        <div class="technical__info">
            <p class="technical__p">Skala : VALUE</p>
            <p class="technical__p">Długość : VALUE</p>
            <p class="technical__p">Szerokość : VALUE</p>
        </div>
    </div>
    <!-- Opis Modelu -->
    <p class="ship__txt">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quibusdam consequuntur repellat veniam eos odio dolor reiciendis soluta.
        Vitae ipsam nemo porro ab laborum maxime omnis in est, error cumque, reiciendis officia consectetur delectus,
        amet autem quam ducimus necessitatibus doloremque.
        Nihil nisi fuga nostrum nam est.
        Voluptatibus quisquam dolores delectus reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quibusdam consequuntur repellat veniam eos odio dolor reiciendis soluta.
        Vitae ipsam nemo porro ab laborum maxime omnis in est, error cumque, reiciendis officia consectetur delectus,
        amet autem quam ducimus necessitatibus doloremque.
        Nihil nisi fuga nostrum nam est. Voluptatibus quisquam dolores delectus reprehenderit?</p>

    <div class="modal__gallery">

        <!-- REST OF IMAGES UP TO 8 -->
        {% for img in gallery.zdjęcia.all %}
        <!-- IMAGE 1 -->
        <div class="modal__container">
            <img src="{{ img.obraz.url }}" alt="This is alt txt" class="gallery__img gallery__img2"
                data-original="{{ img.get_image_name }}" />
        </div>
        <p>{{ img.obraz.url }}</p>
        {% endfor %}

    </div>
    <a href="{% url 'orders:order-create' %}" class="btn gallery__btn">Zamów Model</a>
</section>

<!-- MODAL -->
<div class="modal">
    <div class="modal__img-container">
        <img src="{{ img.obraz.url }}" alt="" class="modal__full-img">
        <p class="caption"></p>
    </div>
    <div class="modal__btn"><span class="iconify" data-icon="ep:close-bold"></span></div>
</div>


{% endblock content %}
{% block extrajs %}
<script src="/static/js/modal.js"></script>
{% endblock extrajs %}
<!-- ENDS HERE -->
