.header__subpage {
  background: var(--clr-gray);
}
.gallery__h1-sub{
  font-size: var(--fs-h3);
  font-weight: var(--fw-regular);
}
.gallery__container{
  display: grid;
  grid-gap: 2rem;
  padding-bottom: 1.5rem;
}
/* GRID MEDIA FOR GALLERY FROM 400PX UP */
@media(min-width: 400px){
.gallery__container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1600px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  
}}

.card {
  text-decoration: none;
}

.card__title {
  font-size: var(--fs-h4);
  margin: 1rem 0 1rem 0;
  color: var(--clr-primary);
}

.gallery__card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  background: var(--clr-gray);
  box-shadow: 6px 8px 9px -3px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 0.8rem;
  overflow: hidden;
  text-decoration: none;
  text-transform: capitalize;
}

.gallery__card:hover {
  background: var(--clr-accent);
  transition: 0.5s ease-out;
}
.gallery__card:hover > .card__title {
  color: var(--clr-gray);
}

.gallery__img{
  opacity: 0.5;
  height: 20rem;
  width: 50rem;
  object-fit: cover;  
}

.gallery__img2{
  opacity: 1;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.technical__info{
  display: flex;
  flex-direction: column;
}
.technical__container{
  display: flex;
  flex-direction: column;
}
.technical__heading{
  font-size: var(--fs-h4);
}

.technical__p{
  letter-spacing: 1px;
}

.ship__txt{
  text-align: center;
  padding: 0rem 0 3rem 0;
}


/* MODAL */
.modal__gallery{
  display: grid;
  grid-gap: 2rem;
}
/* GRID MEDIA FOR GALLERY FROM 400PX UP */
@media(min-width: 400px){
.modal__gallery {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1600px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  /* margin: 0 auto; */
}}
.modal__container{
  overflow: hidden;
  box-shadow: 6px 8px 9px -3px rgba(0, 0, 0, 0.25);}

.modal__container img:hover {
  transform: scale(1.1);}

.modal{
  background:#0d3b66f6;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;}

.modal.open{
  opacity: 1;
  pointer-events: all;
}

.modal__img-container{
  position: absolute;
  height: 100%;
  min-width: 15rem;
  top: 50%;
  left:50% ;
  transform: translate(-50% , -50%) ;
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
}

.modal__full-img {
  object-fit: cover;
  max-height: 75%;
  top: 50%;
  left:50% ;
  transform: scale(0.5) ;
  transition: all 0.5s ease-out;
}

.modal__full-img.open{ 
  transform:  scale(1) ;
}

.modal p {
  position: relative;
  color: var(--clr-white) ;
  font-size: var(--fs-body);
  text-transform: capitalize;
}

.modal__btn{
  position: absolute;
  margin: 2rem;
  top: 10%;
  right : 0% ;
  transform: translate(0% , -10%);
}


/* MEDIA QUERIES */
@media(min-width: 800px){
  .ship__txt{
    text-align: left;
    padding: 6rem 0 6rem 0;
    white-space: pre-line;
}
  
  .technical__container{
    flex-direction: row;
  }
  .technical__info{
    padding: 0rem 1rem 1rem 5rem;
    
  }
  .technical__p{
    margin: 0;
    padding-bottom: 1rem;
    text-align: left;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    /* gap: 4rem; */
  }
  .technical__stats{
  display: flex;
  flex:1;
  justify-content: flex-end;
  
}
  .modal__btn{
    top:0;
  }
}