/* DEFAULT MARGINS AND PADDING REMOVE  */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CUSTOM PROPERTIES */
:root {
  --ff-primary: "Montserrat", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --clr-white: #ffffff;
  --clr-primary: #4e4a4a;
  --clr-secondary: #0d3b6693;
  --clr-accent: #ee964b;
  --clr-gray: #f3f3f3;

  --fs-h1: 2.25rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1rem;
  --fs-body: 0.8rem;
  --fs-footer: 0.6rem;

  --fw-regular: 400;
  --fw-bold: 700;
}
/* GENERAL STYLES */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
}
img {
  display: block;
  max-width: 100%;
}
section {
  margin: 1.5rem;
}
.section__h1 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  padding: 1.5rem;
}
.section__h1::after {
  content: "";
  display: block;
  width: 7.5rem;
  height: 7px;
  background-color: var(--clr-accent);
  border-radius: 0.2rem;
}
h3 {
  font-family: var(--ff-primary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-regular);
  padding: 1.5rem;
  text-align: left;
}
h4 {
  font-family: var(--ff-primary);
  font-size: var(--fs-h4);
  font-weight: var(--fw-regular);
  margin: 1rem 0 1rem 0;
  text-align: center;
}
h4::after {
  content: "";
  display: block;
  margin-top: 1rem;
  width: 7.5rem;
  height: 7px;
  background-color: var(--clr-accent);
  border-radius: 0.2rem;
}
p {
  font-size: var(--fs-body);
  margin: 2rem 0 2rem 0;
  text-align: center;
  line-height: 1.5;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 0.8rem;
  background: var(--clr-accent);
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  text-decoration: none;
  text-align: center;
  color: var(--clr-white);
  transition: 0.5s ease-in;
}
.btn:hover {
  transform: scale(1.1);
}
.iconify {
  height: 40px;
  width: 40px;
  color: var(--clr-accent);
  transition: 0.5s ease-in;
}
.iconify__social:hover{
  transform: scale(1.1);
  color: var(--clr-primary)
  
}
/* NAVIGATION  */

header {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: var(--clr-gray);
}
.logo {
  display: flex;
  align-items: center;
}
.logo__lang {
  object-fit: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.logo__text {
  margin-left: 1rem;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--clr-primary);
}
.logo__text--sub {
  color: var(--clr-primary);
}
.nav-toggle {
  margin-right: 1.5rem;
  padding: 0.5rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 0;
}
.nav {
  flex: 1;
}
.nav__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav__link {
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  text-align: right;
  text-decoration: none;
  color: var(--clr-primary);
  border-radius: 0.8rem;
  transition: 0.5s ease-in;
}
.nav__link:hover {
  background-color: var(--clr-accent);
  color: var(--clr-white);
}
.nav__link--sub {
  color: var(--clr-primary);
}

/* MEDIA FOR NAVIGATION MENU  */

@media (max-width: 800px) {
  .logo__text {
    z-index: 100;
  }
  .nav {
    position: fixed;
    background-color: var(--clr-white);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    /* Hide nav links */
    transform: translateY(-100%);
    /* end */
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    opacity: 0.98;
  }
  .nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .nav__link {
    color: var(--clr-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    text-decoration: none;
  }
  .nav-toggle {
    padding: 0.5rem;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
  }
  .nav-toggle:hover {
    transform: scale(1.2);
  }
  .nav-open .nav {
    transform: translateY(0);
  }
} /* END OF MEDIA FOR NAVIGATION*/
/* HERO SECTION */
.overlay {
  background-color: var(--clr-secondary);
  min-height: calc(100vh - 4.5rem);
}
.hero__container {
  position: relative;
  min-height: calc(100vh - 4.5rem);
  background-image: url(/static/images/background.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 0;
}
.hero__content {
  display: flex;
  flex-direction: column;
  padding: 8rem 0 8rem 0;
}
.hero__h1 {
  text-align: center;
  font-size: var(--fs-h1);
  color: var(--clr-white);
}
.work__btn {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/* ABOUT US SECTION */
.about__img {
  box-shadow: 6px 8px 9px -3px rgba(0, 0, 0, 0.25);
}
.about__us-container {
  display: flex;
  flex-direction: column;
}
.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  max-width: 1600px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-gap: 2rem;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  background: var(--clr-gray);
  box-shadow: 6px 8px 9px -3px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 0.8rem;
  overflow: hidden;
}
.card__overlay {
  background-color: #0d3b66;
}
.card__img {
  opacity: 0.5;
}
.card__txt {
  text-align: center;
  margin: 2rem 1rem 2rem 1rem;
}


/* SLIDER */
.slider {
  max-width: 100rem;
  height: 20rem;
  margin: 0 auto;
  position: relative;

  /* Hide other images */
  overflow: hidden;
  box-shadow: 6px 8px 9px -3px rgba(0, 0, 0, 0.25);
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}
.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-weight: var(--fw-bold);
  font-size: var(--fs-body);
  cursor: pointer;
}
.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}
.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}
.dots {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots__dot {
  border: none;
  background-color: var(--clr-primary);
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}
.dots__dot:last-child {
  margin: 0;
}
.dots__dot--active {
  background-color: var(--clr-accent);
  opacity: 1;
}
.gallery__btn {
  margin:2rem auto 2rem auto;
 
}


/* ORDERS SECTION */
.orders__main{
  min-height: 100vh;
}
.orders__p {
  margin:0;
  font-weight: var(--fw-regular);
  text-align: left;
  
}
.orders__h3 {
  font-weight: var(--fw-regular);
  text-align: left;
  padding: 0 4rem 4rem 0;
}
.contact__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 1.5rem 0;
}
.contact__p {
  text-align: left;
  padding-left: 1rem;
}


/* Form */
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 1rem;
 
  background-color: var(--clr-gray);
  max-width: 40rem;
}
/* .form__right {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
} */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  max-width: 30rem;
}
.form__label {
  width: 100%;
  text-align: left;
  letter-spacing: 1px;
}
.form__input {
  width: 100%;
  min-height: 30px;
  background: var(--clr-white);
  border: none;
  resize: none;
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  letter-spacing: 1px;
  padding: 0.5rem;
}
.form__comment{
  height: 10rem;
}


/* ORDERS ALERT */
.orders__alert{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--clr-gray);
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 10000;
  box-shadow: 6px 8px 9px -3px rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
}
.alert__msg{
  font-size: var(--fs-h3);
  text-align: center;
  margin:0;
  padding: 0 2rem 2rem 2rem;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-close{
  position: relative;
  top:0;
  margin:0.5rem;
  height: 40px;
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


/* ARROW ICON BACK TO TOP */
.svg {
  fill: var(--clr-primary);
  height: 40px;
  width: 40px;
  transition: 0.5s ease-in;
}
.svg:hover {
  transform: scale(1.2);
}
.top-link {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}

/* FOOTER */
footer {
  background: var(--clr-gray);
  color: var(--clr-primary);
}
.footer__container {
  padding: 3rem 1.5rem 3rem 1.5rem;
}
.footer__h4 {
  text-align: left;
}
.footer__link {
  display: flex;
  text-decoration: none;
  color: var(--clr-primary);
  margin-top: 0.5rem;
}
.footer__link:hover {
  color: var(--clr-accent);
}
.footer__p {
  font-size: var(--fs-footer);
  margin: 0;
  padding: 0 1rem 1rem 1rem;
}
.social__icons{
  padding-top: 2rem;
}

/* POLICIES */
.policy__txt{
  text-align: left;
  line-height: 2;
  padding-bottom: 2rem;
}


/* MODEL ITEMS PAGE */
.model__item-container{
  margin:0;
}
.img__main{
  margin:0;
}


/* MEDIA QUERY */
/* 400Px */
@media (min-width: 400px) {
  :root {
    --fs-h1: 3.25rem;
  }
}
/* 600px */
@media (min-width: 600px) {
  :root {
    --fs-h1: 4.25rem;
  }
}
/* 800px */
@media (min-width: 800px) {
  :root {
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1.5rem;
    --fs-body: 1rem;
    --fs-footer: 0.8rem;
  }
  .section__h1,
  h3 {
    /* margin-right: 6rem; */
    padding: 3rem 3rem 1.5rem 3rem;
  }
  .section__h1::after,
  h4::after {
    width: 10rem;
    margin-top: 10px;
  }
  section {
    margin: 3rem;
  }

  /* DONT SHOW BUTTON ON SCREEN MORE THEN 800PX */
  .nav-toggle {
    display: none;
  }
  /* Back to top Arrow */
  .show-link {
    visibility: visible;
    z-index: 100;
  }

  .hero__content {
    align-items: flex-start;
    padding:10rem 20rem 0 0;
  }
  .hero__h1 {
    text-align: left;
    margin-left: 3rem;
  }
  .btn {
    width: 170px;
    padding: 1rem;
  }
  .work__btn {
    margin-left: 3rem;
  }
  .about__us-container {
    flex-direction: row;
  }
  .about__img {
    max-width: 30rem;
  }
  .about__txt {
    margin: 2rem;
    text-align: left;
  }
  .card__container {
    margin-top: 6rem;
  }
  .slider {
    height: 30rem;
  }
  .slide {
    height: 30rem;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 6rem 3rem 6rem 3rem;
  }
}
@media (min-width: 1000px) {
  :root {
    --fs-h1: 5.25rem;
  }
  .alert__msg{
    padding: 0 3rem 3rem 3rem;
  }
  .policy__txt{
    padding-right: 25rem;
  }
}
/* 1300px */
@media (min-width: 1300px) {
  .hero__content {
    padding:10rem 45rem 0 0;
  }
  .about__img {
    max-width: 50rem;
  }
  .orders__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: baseline; */
  }
  .form__container {
    margin: 0;
    width: 70rem;
  }
}
/* 1600px */
@media (min-width: 1600px) {
  :root {
    --fs-h1: 6.25rem;
    --fs-h2: 3rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2rem;
    --fs-body: 1.25rem;
  }
  section {
    margin: 3rem 6rem 3rem 6rem;
  }
  .section__h1,
  h3 {
    padding-left: 6rem;
  }
  h4::after {
    width: 15rem;
  }
  .btn {
    width: 200px;
  }
  .footer__container {
    padding: 6rem
  }
}
/* 1800px */
@media (min-width: 1800px) {
  section {
    margin: 3rem 9rem 3rem 9rem;
  }
  .section__h1,
  h3 {
    margin-right: 12rem;
    padding-left: 9rem;
  }
  .hero__content {
    padding:10rem 50rem 0 0;
  }
}
/* 2000px */
@media (min-width: 2000px) {
  .hero__content {
    padding:15rem 60rem 0 0;
  }
}


/* ANIMATIONS */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

