{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block metaSEO %}
<meta name="description" content="{% translate 'Cookies_META' %}" />
{% endblock metaSEO %}
{% block title %}{% translate 'Polityka Cookies' %}{% endblock title %}
{% block content %}
<h1 class="section__h1">{% translate 'Polityka Cookies' %}</h1>
<h3>{% translate 'Nasz serwis korzysta z plików cookie.' %}</h3>
<section>
    <p class="policy__txt">{% translate 'Cookies_Policy_1' %}</p>
</section>
{% endblock content %}
