<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- STARTS HERE  -->
<h2 class="section__h2">Nazwa Modelu</h2>
<section >
    <!-- Zdjecie głowne i dane techniczne  -->
        <div class="technical__container">
            <img src="/static/images/default.jpg" alt="" class="about__img" />
           <div class="technical__info">
               <p class="technical__p">Skala : VALUE</p>
               <p class="technical__p">Długość : VALUE</p>
               <p class="technical__p">Szerokość : VALUE</p>
           </div>
        </div>
<!-- Opis Modelu -->
<p class="ship__txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur repellat veniam eos odio dolor reiciendis soluta. Vitae ipsam nemo porro ab laborum maxime omnis in est, error cumque, reiciendis officia consectetur delectus, amet autem quam ducimus necessitatibus doloremque. Nihil nisi fuga nostrum nam est. Voluptatibus quisquam dolores delectus reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consequuntur repellat veniam eos odio dolor reiciendis soluta. Vitae ipsam nemo porro ab laborum maxime omnis in est, error cumque, reiciendis officia consectetur delectus, amet autem quam ducimus necessitatibus doloremque. Nihil nisi fuga nostrum nam est. Voluptatibus quisquam dolores delectus reprehenderit?</p>

<div class="modal__gallery">
    
    <!-- REST OF IMAGES UP TO 8 -->
    
         <div class="modal__container">
            <img src="/media/images/default.jpg" alt="Model Kapatek" class="gallery__img gallery__img2" data-original="default.jpg"/>
        </div>

        <div class="modal__container">
            <img src="/media/images/default.jpg" alt="" class="gallery__img gallery__img2" data-original="default.jpg"/>
        </div>

        <div class="modal__container">
            <img src="/media/images/default.jpg" alt="" class="gallery__img gallery__img2" data-original="default.jpg"/>
        </div>

        <div class="modal__container">
            <img src="/media/images/default.jpg" alt="" class="gallery__img gallery__img2" data-original="default.jpg"/>
        </div>

        <div class="modal__container">
            <img src="/media/images/default.jpg" alt="" class="gallery__img gallery__img2" data-original="default.jpg"/>
        </div>

        <div class="modal__container">
            <img src="/media/images/Tytuł-Model__2-Mar-07-2022.jpg" alt="" class="gallery__img gallery__img2" data-original="Tytuł-Model__2-Mar-07-2022.jpg"/>
        </div>

        <div class="modal__container">
            <img src="/media/images/default.jpg" alt="" class="gallery__img gallery__img2" data-original="default.jpg"/>
        </div>

        <div class="modal__container">
            <img src="/media/images/default.jpg" alt="" class="gallery__img gallery__img2" data-original="default.jpg"/>
        </div>
           
</div>
<a href="" class="btn gallery__btn">Zamów Model</a>
</section>

<div class="modal">
    <div class="modal__img-container">
    <img src="/static/images/default.jpg" alt="" class="modal__full-img">
    <p class="caption"></p>
    </div>
    <div class="modal__btn"><span class="iconify" data-icon="ep:close-bold"></span></div>
    
</div>
<!-- ENDS HERE -->

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/main.css" />
  <link rel="stylesheet" href="/static/css/gallery.css" />
 <!-- ICONIFY -->
 <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
 <script src="/static/js/modal.js"></script>
</body>
</html>