<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="\static\css\main.css" />
    <!-- ICONIFY -->
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <title>Shipmodels.pl</title>
  </head>
  <body>
    <div class="hero__container" id="home">
      <div class="overlay">
        <header>
          <div class="logo">
            <a href=""
              ><img src="/media/eng.png" alt="" class="logo__lang"
            /></a>
            <a href="" class="logo__text">Shipmodels.pl</a>
          </div>
          <button class="nav-toggle" aria-label="toggle navigation">
            <span class="iconify" data-icon="heroicons-solid:menu-alt-3"></span>
          </button>

          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#home" class="nav__link">Home</a>
              </li>
              <li class="nav__item">
                <a href="#work" class="nav__link">O nas</a>
              </li>
              <li class="nav__item">
                <a href="#about" class="nav__link">Galeria</a>
              </li>
              <li class="nav__item">
                <a href="#contact" class="nav__link">Zamówienia</a>
              </li>
            </ul>
          </nav>
        </header>

        <div class="hero__content">
          <h1 class="hero__h1">Tworzymy profesjonalne modele</h1>
          <a href="#work" class="btn work__btn" id="work__btn">Więcej</a>
        </div>
      </div>
    </div>
    <!-- SECTION ABOUT US -->
    <h2 class="section__h2">O nas</h2>
    <section class="about__us">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa doloribus
      dolores distinctio. Similique placeat itaque molestiae harum! Nostrum,
      veniam tempora, quia ex, recusandae dolor aliquam architecto voluptates
      laborum dignissimos odit!
    </section>
    <!-- JS -->
    <script src="\static\js\main.js"></script>
  </body>
</html>
