<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="\static\css\main.css" />
    <!-- ICONIFY -->
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <title>Shipmodels.pl</title>
  </head>
  <body>
    <div class="hero__container" id="home">
      <div class="overlay">
        <header>
          <div class="logo">
            <a href=""
              ><img src="/static/images/eng.png" alt="" class="logo__lang"
            /></a>
            <a href="" class="logo__text">Shipmodels.pl</a>
          </div>
          <button class="nav-toggle" aria-label="toggle navigation">
            <span class="iconify" data-icon="heroicons-solid:menu-alt-3"></span>
          </button>

          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#home" class="nav__link">Home</a>
              </li>
              <li class="nav__item">
                <a href="#about" class="nav__link">O nas</a>
              </li>
              <li class="nav__item">
                <a href="#gallery" class="nav__link">Galeria</a>
              </li>
              <li class="nav__item">
                <a href="#orders" class="nav__link">Zamówienia</a>
              </li>
            </ul>
          </nav>
        </header>

        <div class="hero__content">
          <h1 class="hero__h1">Tworzymy profesjonalne modele</h1>
          <a href="#about" class="btn work__btn" id="work__btn">Więcej</a>
        </div>
      </div>
    </div>
    <!-- SECTION ABOUT US -->
    <div id="about">
      <h2 class="section__h2">O nas</h2>
      <h3>Modele to nasza pasja.</h3>
      <section class="about__us">

        <div class="about__us-container">
          <img src="/media/default.jpg" alt="" class="about__img" />
          <p class="about__txt">
            Specjalizujemy się w budowie modeli statków handlowych oraz okrętów
            wojennych. <br />
            Wykonujemy także modele żaglowców.
          </p>
        </div>

        <!-- CARDS CONTAINER -->
        <div class="card__container">
          <!-- Card 1 -->

          <div class="card">
            <div class="card__overlay">
              <img
                src="/static/images/background.jpg"
                alt="picture of ship"
                class="card__img"
              />
            </div>
            <h4 class="card__title">Doświadczenie</h4>
            <p class="card__txt">
              Mamy wieloletnie doświadczenie w budowie modeli redukcyjnych, od
              drewnianych modeli szkutniczych do wielkoformatowych modeli z
              tworzyw sztucznych
            </p>
          </div>
          <!-- CARD 2 -->
          <div class="card">
            <div class="card__overlay">
              <img
                src="/static/images/background.jpg"
                alt="picture of ship"
                class="card__img"
              />
            </div>
            <h4 class="card__title">Dokładność</h4>
            <p class="card__txt">
              Oferujemy wierne repliki w skalach wyłącznie 1:50 i 1:100. Do
              budowy wykorzystujemy plany stoczniowe, modelarskie oraz zdjęcia.
              Nasze modele cechują się dokładnością i wiernością z oryginałami.
            </p>
          </div>
          <!-- CARD 3 -->
          <div class="card">
            <div class="card__overlay">
              <img
                src="/static/images/background.jpg"
                alt="picture of ship"
                class="card__img"
              />
            </div>

            <h4 class="card__title">Wybór</h4>
            <p class="card__txt">
              Na życzenie stosujemy dowolne materiały do stylizacji osprzętu
              :<br /><br />
              chromowanie<br />
              złocenie <br />itp.
            </p>
          </div>
        </div>
      </section>
    </div>
    <!-- SECTION WORK -->
    <div id="work">
      <h2 class="section__h2">Nasza praca</h2>
      <section class="work">
        <div class="slider">
          <div class="slide">
            <img src="/static/images/background.jpg" alt="Photo 1" />
          </div>
          <div class="slide">
            <img src="/static/images/eng.png" alt="Photo 2" />
          </div>
          <div class="slide">
            <img src="/static/images/background.jpg" alt="Photo 3" />
          </div>
          <div class="slide">
            <img src="/static/images/background.jpg" alt="Photo 4" />
          </div>
          <button class="slider__btn slider__btn--left">&larr;</button>
          <button class="slider__btn slider__btn--right">&rarr;</button>
          <div class="dots"></div>
        </div>

        <a href="#gallery" class="btn gallery__btn">Galeria</a>

      </section>
    </div>
    <!-- SECTION ORDERS -->
    <div id="orders">
      <h2 class="section__h2">Zamówienia</h2>
      <h3>
        W razie jakichkolwiek pytań prosimy o kontakt w dowolnej formie podanej
        poniżej.
      </h3>
      <section class="orders">

        <h2 class="orders__h2">GÓRECKI SHIPMODELS</h2>
        <div class="orders__container">
          <!-- Contact item 1 -->
          <div class="contact__container">
            <div class="contact__info">
              <span class="iconify" data-icon="carbon:location-filled"></span>
              <p class="contact__p">
                78-100 Kołobrzeg <br />
                Zwycięzców 15/1 <br />
                Poland
              </p>
            </div>
            <!-- Contact item 2 -->
            <div class="contact__info">
              <span class="iconify" data-icon="carbon:location-filled"></span>
              <p class="contact__p">
                Tel : +48 94 354 74 80 <br />
                Mobile: +48 502 179 802
              </p>
            </div>
            <!-- Contact item 3 -->
            <div class="contact__info">
              <span class="iconify" data-icon="carbon:location-filled"></span>
              <p class="contact__p">ekg1@poczta.onet.pl</p>
            </div>

          </div>
          <!-- FORM -->
          <div class="form__container">
            <form
              class="form"
              method="post"
              action="https://formsubmit.co/e1f6d3757fe87a080ec1fc9a61ae6555"
            >
              <label for="Name" class="form__label">Imie i nazwisko</label>
              <input type="text" class="form__input" name="Name" required />

              <label for="Name" class="form__label">Telefon</label>
              <input type="text" class="form__input" name="Name" required />

              <label for="Name" class="form__label">Adres email</label>
              <input type="text" class="form__input" name="Name" required />

              <label for="Email" class="form__label">Telefon</label>
              <input type="email" class="form__input" name="Email" required />

              <label for="Message" class="form__label">Komentarz</label>
              <textarea
                name="Message"
                class="form__input"
                rows="10"
                required
              ></textarea>
              <button type="submit" class="btn">Send</button>
            </form>
          </div>
        </div>
      </section>
    </div>

    <!-- SCROLL TO TOP  BUTTON -->
    <a class="scroll-link top-link" href="#home">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="svg"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
      >
        <path
          d="M12.707 7.293a.997.997 0 0 0-1.414 0L7.05 11.536a1 1 0 0 0 1.414 1.414L11 10.414V16a1 1 0 0 0 2 0v-5.586l2.536 2.536a1 1 0 0 0 1.414-1.414l-4.243-4.243zM6 2h12a4 4 0 0 1 4 4v12a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V6a4 4 0 0 1 4-4z"
        />
      </svg>
    </a>

    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__contact">
          <h4 class="footer__h4">
            GÓRECKI SHIPMODELS <br />
            NIP: 671-102-04-83
          </h4>
          <!-- Contact item 1 -->
          <div class="contact__info">
            <span class="iconify" data-icon="carbon:location-filled"></span>
            <p class="contact__p">
              78-100 Kołobrzeg <br />
              Zwycięzców 15/1 <br />
              Poland
            </p>
          </div>
          <!-- Contact item 2 -->
          <div class="contact__info">
            <span class="iconify" data-icon="carbon:location-filled"></span>
            <p class="contact__p">
              Tel : +48 94 354 74 80 <br />
              Mobile: +48 502 179 802
            </p>
          </div>
          <!-- Contact item 3 -->
          <div class="contact__info">
            <span class="iconify" data-icon="carbon:location-filled"></span>
            <p class="contact__p">ekg1@poczta.onet.pl</p>
          </div>
        </div>
        <div class="footer__links">
          <a href="" class="footer__link">Polityka Prywatności</a>
          <a href="" class="footer__link">Polityka Cookies</a>
        </div>
      </div>
      <!-- Dynamic date set in js -->
      <p class="footer__p" id="date"></p>
      <p class="footer__p">
        © Strona Wykonana przez : Marcin Zygan & Grzegorz Zygan
      </p>
    </footer>
    <!-- JS -->
    <script src="\static\js\main.js"></script>
  </body>
</html>
