{% load i18n %}
{% load static %}
<header>
    <button class="nav-toggle" aria-label="toggle navigation">
        <span class="iconify" data-icon="heroicons-solid:menu-alt-3"></span>
    </button>
    <div class="logo">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}

        {% if languages.0.code == LANGUAGE_CODE %}
        <a href="/{{ languages.1.code }}/"><img src="{% static 'images/eng.png' %}" alt="" class="logo__lang" /></a>
        {% else %}
        <a href="/{{ languages.0.code }}/"><img src="{% static 'images/pol.png' %}" alt="" class="logo__lang" /></a>
        {% endif %}
        <a href="{% url 'home' %}" class="logo__text">Shipmodels.pl</a>
    </div>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="{% url 'home' %}" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'about' %}" class="nav__link">{% translate "O nas" %}</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'gallery:gallery-list' %}" class="nav__link">{% translate "Galeria" %}</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'orders:order-create' %}" class="nav__link">{% translate "Zamówienia" %}</a>
            </li>
        </ul>
    </nav>
</header>
