{% load i18n %}
<button class="nav-toggle" aria-label="toggle navigation">
    <span class="iconify" data-icon="heroicons-solid:menu-alt-3"></span>
  </button>
<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="{% url 'home' %}" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
            <a href="{% url 'about' %}" class="nav__link">{% translate "O nas" %}</a>
        </li>
        <li class="nav__item">
            <a href="{% url 'gallery:gallery-list' %}" class="nav__link">{% translate "Galeria" %}</a>
        </li>
        <li class="nav__item">
            <a href="{% url 'orders:order-create' %}" class="nav__link">{% translate "Zamówienia" %}</a>
        </li>
    </ul>
</nav>
