<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="#home" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
            <a href="{% url 'about' %}" class="nav__link">O nas</a>
        </li>
        <li class="nav__item">
            <a href="#gallery" class="nav__link">Galeria</a>
        </li>
        <li class="nav__item">
            <a href="{% url 'orders:order-create' %}" class="nav__link">Zamówienia</a>
        </li>
    </ul>
</nav>
