{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<h2 class="section__h2">{% translate 'Polityka Prywatności' %}</h2>
<h3>Polityka prywatności serwisu shipmodels.pl</h3>
<section>

<p class="policy__txt">
    <b>1.</b> Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych osobowych
    przekazanych przez Użytkowników w związku z korzystaniem przez nich usług związanych z
    zakupem modeli statków i okrętów.<br><br>
    <b>2.</b> Administratorem danych osobowych zawartych w serwisie jest
    GÓRECKI SHIPMODELS z siedzibą w Kołobrzegu, ZWYCIĘZCÓW 15/2, 78-100 NIP: 671-102-04-83<br><br>
    <b>3.</b> W trosce o bezpieczeństwo powierzonych nam danych opracowaliśmy wewnętrzne procedury i zalecenia, które mają zapobiec udostępnieniu danych osobom nieupoważnionym.<br>
    Kontrolujemy ich wykonywanie i stale sprawdzamy ich zgodność z
    odpowiednimi aktami prawnymi - ustawą o ochronie danych osobowych, ustawą o
    świadczeniu usług drogą elektroniczną, a także wszelkiego rodzaju aktach wykonawczych i aktach prawa wspólnotowego.<br><br>
    <b>4.</b> Dane Osobowe przetwarzane są na podstawie zgody wyrażanej przez Użytkownika oraz w przypadkach, w których przepisy prawa upoważniają Administratora do przetwarzania danych osobowych na podstawie przepisów prawa lub w celu realizacji zawartej pomiędzy
    stronami umowy.<br><br>
    <b>5.</b> Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniach w
    następujący sposób:<br>
    a) poprzez dobrowolnie wprowadzone w formularzach informacje<br>
    b) poprzez gromadzenie plików “cookies” [patrz polityka plików “cookies”].<br><br>
    <b>6.</b> Serwis zbiera informacje dobrowolnie podane przez użytkownika.<br><br>
    <b>7.</b> dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza np. w celu dokonania procesu obsługi kontaktu informacyjnego. <br><br>
    <b>8.</b> Dane osobowe pozostawione w serwisie nie zostaną sprzedane ani udostępnione
    osobom trzecim, zgodnie z przepisami Ustawy o ochronie danych osobowych.<br><br>
    <b>9.</b> Do danych zawartych w formularzu przysługuje wgląd osobie fizycznej, która je tam
    umieściła. Osoba ta ma również praw do modyfikacji i zaprzestania przetwarzania swoich
    danych w dowolnym momencie.<br><br>
    <b>10.</b>Zastrzegamy sobie prawo do zmiany w polityce ochrony prywatności serwisu, na które
    może wpłynąć rozwój technologii internetowej, ewentualne zmiany prawa w zakresie
    ochrony danych osobowych oraz rozwój naszego serwisu internetowego. O wszelkich
    zmianach będziemy informować w sposób widoczny i zrozumiały.<br><br>
    <b>11.</b> W Serwisie mogą pojawiać się linki do innych stron internetowych. Takie strony
    internetowe działają niezależnie od Serwisu i nie są w żaden sposób nadzorowane przez
    serwis shipmodels.pl Strony te mogą posiadać własne polityki dotyczące prywatności oraz
    regulaminy, z którymi zalecamy się zapoznać.<br>
    W razie wątpliwości co któregokolwiek z zapisów niniejszej polityki prywatności jesteśmy do
    dyspozycji - nasze dane znaleźć można w zakładce - <a href="{% url 'orders:order-create' %}">Zamówienia</a></p>
  
</section> 
  
  
{% endblock content %}