{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block metaSEO %}
<meta name="description" content="{% translate 'Privacy_Policy_META' %}" />
{% endblock metaSEO %}
{% block title %}{% translate 'Polityka Prywatności' %}{% endblock title %}
{% block content %}
<h1 class="section__h1">{% translate 'Polityka Prywatności' %}</h1>
<h3>{% translate 'Polityka prywatności serwisu shipmodels.pl' %}</h3>
<section>
    <p class="policy__txt">
        {% translate 'privacy_policy_1' %}
    </p>
    <p class="policy__txt">
        {% translate 'privacy_policy_2' %}
    </p>
    <p class="policy__txt">
        {% translate 'privacy_policy_3' %}
    </p>
    <p class="policy__txt">
        {% translate 'privacy_policy_4' %}
    <p class="policy__txt">
        {% translate 'privacy_policy_5' %} <br>
        {% translate 'privacy_policy_a' %} <br>
        {% translate 'privacy_policy_b' %}
    </p>
    <p class="policy__txt">
        {% translate 'privacy_policy_6' %}
    </p>
    <p class="policy__txt">
        {% translate 'privacy_policy_7' %}
    </p>
    <p class="policy__txt">
        {% translate 'privacy_policy_8' %}
    </p>
    <p class="policy__txt">
        {% translate 'privacy_policy_9' %}
    </p>
    <p class="policy__txt">
        {% translate 'privacy_policy_10' %}
    </p>
    <p class="policy__txt">
        {% translate 'privacy_policy_11' %}
    </p>
</section>
{% endblock content %}
